*{
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	font-family: arial;
}
header{	
	width: 100%;
	height: 50px;
	background-color: #383636;
	padding: 0px 20px;
	position: relative;	
}
div.logo{
	/*border: 3px solid #fff;*/
	width: 400px;
	height: 80px;
	position: relative;
}

header h2{	
	line-height: 50px;
	color: #fff;
}

div.search{
	position: absolute;
	right: 50px;
	top: 10px;
	color: #fff;
	width: 170px;
	line-height: 30px;
	/*border: 1px solid #ccc;*/
	height: 30px;
	
}
div.search input{
	border: 1px solid #806f66;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: #806f66;
	color: #fff;
}

div.separator{
	display: block;
	margin: 50px auto;
	width: 190px;
	height: 5px;
	background-color: #644c9f;
}
.container{
	
	padding: 10px 30px;
	line-height: 25px;
	color: #333;
	display: flex;
	flex-wrap: wrap;
}
.container main{
	background-color: #ebe7e0;
	padding: 10px;
	flex: 3;
	margin-right: 5px;
}

.container aside{
	background-color: #ebe7e0;
	padding: 10px;
	flex: 1;
	margin-left: 5px;	

}

section{
	display: flex;
	flex-direction: row;	
}
section .product{	
	padding: 10px;
	width: 25%;
}
section .product img{
	width: 100%;
	border: 2px solid #fff;
	
}
span.harga{
	/*color: red;*/
	display: block;
	margin-bottom: 20px;
}
div.button{
	background-color: #1818a0;
	text-align: center;
	height: 30px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;

}

aside ul{
	/*border: 2px solid #000;*/
	padding: 10px 25px;
}
aside ul li ol{
	margin-left: 40px;
}
aside input{
	padding: 2.5px 10px;
	border-radius: 5px;
}
aside button{
	padding: 2.5px 10px;
}
aside table td{
	padding: 3px;
}
nav{
	color: #fff;
	height: 230px;
	background-color: #383636;
	padding: 20px;
	position: relative;
}
nav h2{
	margin-bottom: 20px;
}
nav a{
	color: #fff;
	text-decoration: none;
	margin: 10px;
}
nav p{
	margin-top: 20px;
	line-height: 25px;
	color: #ccc;	
	font-size: 13px;
}
nav span{
	display: block;
	position: absolute;	
	bottom: 20px;
	text-align: center;
	font-size: 12px;
	color: #999;
}
footer{
	width: 100%;
	height: 50px;
	background-color: #fff;
	line-height: 50px;
	color: #000;	
}
@media screen and (max-width: 1080px){
	.container {
		display: block;
	}
	.container aside{
		margin: 10px 5px 0 0;
	}

}
@media screen and (max-width: 680px){
	section{
		flex-direction: column;
	}
	section .product{
		width: 95%;
	}
}